<br>
<div class="bg-main-light p-4 my-4">
    <h3>Shope Cart</h3>
    <h6 class="text-main p-3 ">Total Price :{{cartDetails?.totalCartPrice|currency:'EGP'}}</h6>

    <div *ngFor="let product of cartDetails?.products " class="row py-1 border-bottom align-items-center">
        <div class="col-md-1">
            <img class="w-100" [src]="product.product.imageCover" alt="">
        </div>
        <div class="col-md-11 d-flex justify-content-between">
            <div>
                <h6>{{product.product.title|seemore:10}}</h6>
                <h6 class="text-main">Price: {{product.price|currency:'EGP'}}</h6>
                <button (click)="removeItem(product.product._id)" class="btn m-0 p-0  btn-sm"><i
                        class="fa-regular fa-trash-can text-main"> </i> Remove </button>
            </div>
            <div>
                <button (click)="updateItemCount(product.product._id,product.count+1)"
                    class="btn border-main btn-sm">+</button>
                <span class="mx-2">{{product.count}}</span>
                <button (click)="updateItemCount(product.product._id,product.count-1)"
                    class="btn border-main btn-sm">-</button>
            </div>
        </div>

    </div>


    <button class="btn bg-main  my-2">
       <a class="text-white" routerLink="/checkout"> Online Payment <img class="visa" src="assets/imges/images/Visa-Mastercard.webp" alt=""></a>
    </button>


</div>